<br><br>

<div class="tab2">
<mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-header-image"></div>
      <mat-card-title>Jayden Pilling</mat-card-title>
      <mat-card-subtitle>Developer, Climber, Writer, Wonderer</mat-card-subtitle>
    </mat-card-header>
    <!--Insert a grid list here of different images of climbing, coding, writing, projects, etc-->
    <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
          {{tile.text}}
          <!-- image tag for each grid item -->
          
        </mat-grid-tile>
      </mat-grid-list>
    <!--Insert a grid list here of different images of climbing, coding, writing, projects, etc-->
    <mat-card-content>
      <p>
        Jayden is this, that, this and that. All that stuff that goes here is all about Jayden.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="'/contact'">CONTACT</button>
      <button mat-button></button>
    </mat-card-actions>
  </mat-card>

</div>
  



